﻿/* Move down content because we have a fixed navbar that is 50px tall */
body, html, form {
    min-height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"] {
    max-width: 280px;
}

.sideNav {
    color: #fff;
    background-color: #FF6600;
    width: 250px;
    display: inline-block;
    vertical-align: top;
}

.logo {
    display: block;
    width: 239px;
}

.inventory {
    display: none;
    top: 109px;
}

.report {
    display: none;
    top: 144px;
}

.task {
    display: none;
    top: 179px;
}

.submenu {
    position: absolute;
    color: white;
    background-color: #f60;
    left: 250px;
}

    .submenu li:hover {
        background-color: #FF910D;
    }

.sideNav ul {
    list-style: none;
    padding: 0;
}

.sideNav a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    padding: 5px;
}

.sideNav .menuItem {
    text-align: center;
    font-size: 1.3em;
}

.menuItem:hover {
    background-color: #FF910D;
}

.watermark {
    position: fixed;
    opacity: .25;
    bottom: 0;
    right: 0;
    width: 15%;
}

.column {
    min-width: 100px;
}

.row {
    margin: 3px 0px;
}

.inline {
    display: inline-block;
}

.checkoutRow {
    padding: 0px 3px 5px 3px;
}

.quantityList {
    border: 1px solid #c4c4c4;
    border-bottom: 4px solid #c4c4c4;
}

    .quantityList tr {
        border-top: 1px solid #c4c4c4;
    }

.header {
    font-size: 1em;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
}

#logout {
    position: fixed;
    text-align: right;
    margin-top: 20px;
    width: 50%;
    right: 15px;
}

.logoutButton {
    background-color: #ffffff;
    border-style: none;
    color: #0000FF;
}

    .logoutButton:hover {
        text-decoration: underline;
    }

.label p {
    color: #ffffff;
}

#login td {
    padding: 4px;
}

#loginB {
    padding: 8px;
}

.padding td {
    padding: 4px;
}

.image {
    padding: 4px;
}

#tile {
    background-color: #f8f8f8;
    margin: 5px;
    padding: 5px;
    width: 350px;
    border: solid thin #808080;
    box-shadow: 2px 2px 10px grey;
}

    #tile td {
        padding-right: 8px;
    }

#tileTable {
    margin-right: 4%;
}

#tileImage {
    float: left;
    width: 48%;
    margin: 0;
    padding: 0;
}

.reportTile {
    background-color: #f8f8f8;
    margin: 5px;
    padding: 5px;
    width: 200px;
    border: solid thin #808080;
    box-shadow: 2px 2px 10px grey;
}
